body{
	background-image: url(wood.jpeg);
	font: normal 12.5px Helvetica;
}
.col-md-4{
	margin-top: 50px;
}
.container {
	color:white;
}
header {
	color: brown;
	font: normal 14px sans-serif;
}

























